@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: SFProDisplay;
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: spaceagecyrillic;
  font-display: swap;
  src: url("../fonts/spaceagecyrillic_regular.woff2") format("woff2"), url("../fonts/spaceagecyrillic_regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

._spoller-init .footer__title::after,
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-arrow:before {
  content: "\e900";
  color: #5e5e57;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "SFProDisplay";
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "SFProDisplay";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 74.9375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

.form__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 6.25rem;
}

.form__input {
  color: #fff;
  width: 100%;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 1.3125rem;
}

.form__input::-webkit-input-placeholder {
  font-weight: 400;
  line-height: 1.2142857143;
  color: #fff;
}

.form__input::-moz-placeholder {
  font-weight: 400;
  line-height: 1.2142857143;
  color: #fff;
}

.form__input:-ms-input-placeholder {
  font-weight: 400;
  line-height: 1.2142857143;
  color: #fff;
}

.form__input::-ms-input-placeholder {
  font-weight: 400;
  line-height: 1.2142857143;
  color: #fff;
}

.form__input::placeholder {
  font-weight: 400;
  line-height: 1.2142857143;
  color: #fff;
}

.form__button {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1666666667;
  padding: 0.3125rem 0;
  border: 1px solid #FFFFFF;
  min-height: 3.75rem;
}

.form__button:not(:first-child) {
  margin-top: 4.3125rem;
}

.checkbox {
  position: relative;
}

.checkbox:not(:last-child) {
  margin-bottom: 0.3125em;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.checkbox__input:focus + .checkbox__label:before {
  -webkit-box-shadow: 0 0 5px #000;
          box-shadow: 0 0 5px #000;
}

.checkbox__input:checked + .checkbox__label:before {
  background-color: #036CCA;
}

.checkbox__label {
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  width: 100%;
}

.checkbox__label:before {
  content: "";
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  height: 20px;
}

.checkbox__text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2083333333;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: "spaceagecyrillic";
  font-weight: 400;
  line-height: 1;
}

@supports (font-size: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3rem )) {
  .title {
    font-size: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.478960396rem  +  1.9801980198vw , 3rem )) {
  .title {
    font-size: calc(1.875rem + 1.125 * (100vw - 20rem) / 56.8125);
  }
}

@supports (margin-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .title:not(:last-child) {
    margin-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .title:not(:last-child) {
    margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.8125);
  }
}

foreignObject {
  text-align: left;
}

.no-webp .header{
  background-image: url("../img/header/backround.jpg"); }

.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header__inner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (padding-bottom: clamp( 3.75rem , 1.8798129813rem  +  9.3509350935vw , 9.0625rem )) {
  .header__inner {
    padding-bottom: clamp( 3.75rem , 1.8798129813rem  +  9.3509350935vw , 9.0625rem );
  }
}

@supports not (padding-bottom: clamp( 3.75rem , 1.8798129813rem  +  9.3509350935vw , 9.0625rem )) {
  .header__inner {
    padding-bottom: calc(3.75rem + 5.3125 * (100vw - 20rem) / 56.8125);
  }
}

.top-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 10.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.top-header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.top-header__tel {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2083333333;
}

.menu__list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.125rem;
     -moz-column-gap: 2.125rem;
          column-gap: 2.125rem;
}

.menu__link {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1666666667;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.middle-header {
  max-width: 37.5rem;
}

.middle-header__title {
  font-family: "spaceagecyrillic";
  font-weight: 400;
  line-height: 1;
}

@supports (font-size: clamp( 1.875rem , 1.2149339934rem  +  3.300330033vw , 3.75rem )) {
  .middle-header__title {
    font-size: clamp( 1.875rem , 1.2149339934rem  +  3.300330033vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 1.875rem , 1.2149339934rem  +  3.300330033vw , 3.75rem )) {
  .middle-header__title {
    font-size: calc(1.875rem + 1.875 * (100vw - 20rem) / 56.8125);
  }
}

.middle-header__title span {
  line-height: 1;
}

@supports (font-size: clamp( 3.125rem , 1.8048679868rem  +  6.600660066vw , 6.875rem )) {
  .middle-header__title span {
    font-size: clamp( 3.125rem , 1.8048679868rem  +  6.600660066vw , 6.875rem );
  }
}

@supports not (font-size: clamp( 3.125rem , 1.8048679868rem  +  6.600660066vw , 6.875rem )) {
  .middle-header__title span {
    font-size: calc(3.125rem + 3.75 * (100vw - 20rem) / 56.8125);
  }
}

.middle-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports (margin-bottom: clamp( 1.875rem , 1.4569581958rem  +  2.0902090209vw , 3.0625rem )) {
  .middle-header__info:not(:last-child) {
    margin-bottom: clamp( 1.875rem , 1.4569581958rem  +  2.0902090209vw , 3.0625rem );
  }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.4569581958rem  +  2.0902090209vw , 3.0625rem )) {
  .middle-header__info:not(:last-child) {
    margin-bottom: calc(1.875rem + 1.1875 * (100vw - 20rem) / 56.8125);
  }
}

@supports ((-moz-column-gap: clamp( 1.25rem , 0.7659515952rem  +  2.4202420242vw , 2.625rem )) or (column-gap: clamp( 1.25rem , 0.7659515952rem  +  2.4202420242vw , 2.625rem ))) {
  .middle-header__info {
    -webkit-column-gap: clamp( 1.25rem , 0.7659515952rem  +  2.4202420242vw , 2.625rem );
       -moz-column-gap: clamp( 1.25rem , 0.7659515952rem  +  2.4202420242vw , 2.625rem );
            column-gap: clamp( 1.25rem , 0.7659515952rem  +  2.4202420242vw , 2.625rem );
  }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , 0.7659515952rem  +  2.4202420242vw , 2.625rem )) or (column-gap: clamp( 1.25rem , 0.7659515952rem  +  2.4202420242vw , 2.625rem ))) {
  .middle-header__info {
    -webkit-column-gap: calc(1.25rem + 1.375 * (100vw - 20rem) / 56.8125);
       -moz-column-gap: calc(1.25rem + 1.375 * (100vw - 20rem) / 56.8125);
            column-gap: calc(1.25rem + 1.375 * (100vw - 20rem) / 56.8125);
  }
}

.middle-header__text {
  font-weight: 400;
  line-height: 1.2083333333;
}

@supports (font-size: clamp( 1.25rem , 1.1619911991rem  +  0.4400440044vw , 1.5rem )) {
  .middle-header__text {
    font-size: clamp( 1.25rem , 1.1619911991rem  +  0.4400440044vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1619911991rem  +  0.4400440044vw , 1.5rem )) {
  .middle-header__text {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 56.8125);
  }
}

.middle-header__btn {
  font-weight: 400;
  min-height: 3.75rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  line-height: 2.0714285714;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  width: 100%;
  text-transform: uppercase;
  border: 1px solid #fff;
  white-space: nowrap;
}

@supports (font-size: clamp( 1.25rem , 1.1619911991rem  +  0.4400440044vw , 1.5rem )) {
  .middle-header__btn {
    font-size: clamp( 1.25rem , 1.1619911991rem  +  0.4400440044vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1619911991rem  +  0.4400440044vw , 1.5rem )) {
  .middle-header__btn {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 56.8125);
  }
}

.bottom-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.25rem;
     -moz-column-gap: 3.25rem;
          column-gap: 3.25rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.bottom-header__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10.3125rem;
          flex: 0 1 10.3125rem;
  font-weight: 400;
  line-height: 1.2142857143;
}

/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before,
			&::after {
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}
*/

.no-webp .footer{
  background-image: url("../img/footer/1.jpg"); }

.footer {
  background-size: cover;
  background-repeat: no-repeat;
}

@supports (padding-bottom: clamp( 2.5rem , 0.1677667767rem  +  11.6611661166vw , 9.125rem )) {
  .footer {
    padding-bottom: clamp( 2.5rem , 0.1677667767rem  +  11.6611661166vw , 9.125rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.1677667767rem  +  11.6611661166vw , 9.125rem )) {
  .footer {
    padding-bottom: calc(2.5rem + 6.625 * (100vw - 20rem) / 56.8125);
  }
}

@supports (padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .footer {
    padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .footer {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.8125);
  }
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3rem;
}

.footer__info:not(:last-child) {
  margin-right: 3.25rem;
}

.footer__text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
  max-width: 10.3125rem;
}

.footer__title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: none;
}

.footer__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

._spoller-init .footer__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._spoller-init .footer__title::after {
  content: "\e900";
  font-size: 0.5rem;
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

._spoller-init .footer__title._spoller-active::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.footer__spoller {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6.375rem;
     -moz-column-gap: 6.375rem;
          column-gap: 6.375rem;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.25rem;
}

.footer__item {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-transform: uppercase;
}

.no-webp .about{
  background-image: url("../img/about/backgroung.jpg"); }

.about {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

@supports (padding-top: clamp( 2.5rem , 1.3338833883rem  +  5.8305830583vw , 5.8125rem )) {
  .about {
    padding-top: clamp( 2.5rem , 1.3338833883rem  +  5.8305830583vw , 5.8125rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.3338833883rem  +  5.8305830583vw , 5.8125rem )) {
  .about {
    padding-top: calc(2.5rem + 3.3125 * (100vw - 20rem) / 56.8125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .about {
    padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .about {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.8125);
  }
}

.item-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 6.1875rem;
     -moz-column-gap: 6.1875rem;
          column-gap: 6.1875rem;
}

@supports (margin-bottom: clamp( 2.8125rem , 0.5022689769rem  +  11.5511551155vw , 9.375rem )) {
  .item-about:not(:last-child) {
    margin-bottom: clamp( 2.8125rem , 0.5022689769rem  +  11.5511551155vw , 9.375rem );
  }
}

@supports not (margin-bottom: clamp( 2.8125rem , 0.5022689769rem  +  11.5511551155vw , 9.375rem )) {
  .item-about:not(:last-child) {
    margin-bottom: calc(2.8125rem + 6.5625 * (100vw - 20rem) / 56.8125);
  }
}

.item-about__title {
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 1.2;
}

.item-about__title:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.item-about__subtitle {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1666666667;
  text-transform: uppercase;
  color: #036CCA;
}

.item-about__subtitle:not(:last-child) {
  margin-bottom: 1.9375rem;
}

.item-about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.3125rem;
     -moz-column-gap: 3.3125rem;
          column-gap: 3.3125rem;
}

.item-about__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10.3125rem;
          flex: 0 1 10.3125rem;
}

.item-about__text:not(:last-child) {
  margin-bottom: 3.0625rem;
}

.table-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 0.6875rem;
  border-top: 1px solid #fff;
  padding-bottom: 0.75rem;
  border-bottom: 1px solid #fff;
}

.table-item__questions {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.1875;
}

.table-item__answers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 0.4375rem;
  border-bottom: 1px solid #fff;
}

@supports (margin-bottom: clamp( 1.5625rem , 1.0124449945rem  +  2.7502750275vw , 3.125rem )) {
  .table-item__answers:not(:last-child) {
    margin-bottom: clamp( 1.5625rem , 1.0124449945rem  +  2.7502750275vw , 3.125rem );
  }
}

@supports not (margin-bottom: clamp( 1.5625rem , 1.0124449945rem  +  2.7502750275vw , 3.125rem )) {
  .table-item__answers:not(:last-child) {
    margin-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 56.8125);
  }
}

.table-item__answer {
  text-align: center;
  font-weight: 700;
  line-height: 1.2142857143;
}

.table-item__answer span {
  font-size: 2.25rem;
  line-height: 1.1944444444;
}

.table-item__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 3.75rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1666666667;
  text-transform: uppercase;
  padding: 0.3125rem 2.8125rem;
  border: 1px solid #fff;
  margin-top: 3.125rem;
}

.no-webp .how{
  background-image: url("../img/How/background.jpg"); }

.how {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

@supports (padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .how {
    padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .how {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.8125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .how {
    padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .how {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.8125);
  }
}

.how__title {
  max-width: 36.125rem;
}

.how__line {
  text-align: center;
}

.how__line circle,
.how__line text,
.how__line foreignObject {
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  cursor: pointer;
  font-size: 1.125rem;
}

.how__list {
  display: none;
}

.how__item {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1666666667;
  position: relative;
}

.how__item::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  width: 20px;
  height: 20px;
  left: -24px;
  top: 0;
}

.no-webp .time{
  background-image: url("../img/time/background.jpg"); }

.time {
  background-size: cover;
  background-repeat: no-repeat;
}

@supports (padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .time {
    padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .time {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.8125);
  }
}

@supports (padding-bottom: clamp( 6.25rem , -5.653190319rem  +  59.5159515952vw , 40.0625rem )) {
  .time {
    padding-bottom: clamp( 6.25rem , -5.653190319rem  +  59.5159515952vw , 40.0625rem );
  }
}

@supports not (padding-bottom: clamp( 6.25rem , -5.653190319rem  +  59.5159515952vw , 40.0625rem )) {
  .time {
    padding-bottom: calc(6.25rem + 33.8125 * (100vw - 20rem) / 56.8125);
  }
}

.time__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.time__title {
  max-width: 36rem;
}

.time__title:not(:last-child) {
  margin-bottom: 0;
}

.time__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.3125rem;
     -moz-column-gap: 3.3125rem;
          column-gap: 3.3125rem;
}

.time__text {
  font-weight: 400;
  line-height: 1.2142857143;
  max-width: 10.3125rem;
}

.no-webp .special{
  background-image: url("../img/special/background.jpg"); }

.special {
  background-repeat: no-repeat;
  background-size: cover;
}

@supports (padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .special {
    padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .special {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.8125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .special {
    padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .special {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.8125);
  }
}

.top-special__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

.item-top {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31.25rem;
          flex: 0 1 31.25rem;
}

.item-top__card {
  padding-top: 2.6875rem;
  padding-bottom: 2.375rem;
  border: 1px solid #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-top__card:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.item-top__text {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2083333333;
  max-width: 14.1875rem;
}

.item-top__text:not(:last-child) {
  margin-bottom: 6.9375rem;
}

.item-top__text span {
  color: #CB0E0E;
}

.item-top__old-price {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-right: 4.6875rem;
  font-weight: 400;
  line-height: 1.2142857143;
  color: #E5E5E5;
  position: relative;
}

.item-top__old-price:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.item-top__old-price::after {
  content: "";
  position: absolute;
  background-color: #CB0E0E;
  -webkit-transform: rotate(17.1deg);
      -ms-transform: rotate(17.1deg);
          transform: rotate(17.1deg);
  width: 4.25rem;
  height: 1px;
  top: 8px;
  left: 0;
}

.item-top__new-price {
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.1875;
}

.item-top__btn {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1666666667;
  width: 100%;
  min-height: 3.75rem;
  padding: 0.3125rem 0;
  border: 1px solid #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@supports (padding-top: clamp( 2.8125rem , 0.6782865787rem  +  10.6710671067vw , 8.875rem )) {
  .middle-special {
    padding-top: clamp( 2.8125rem , 0.6782865787rem  +  10.6710671067vw , 8.875rem );
  }
}

@supports not (padding-top: clamp( 2.8125rem , 0.6782865787rem  +  10.6710671067vw , 8.875rem )) {
  .middle-special {
    padding-top: calc(2.8125rem + 6.0625 * (100vw - 20rem) / 56.8125);
  }
}

.middle-special__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-middle__text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2083333333;
}

.item-middle__text:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.item-middle__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 0.6875rem;
}

.item-middle__form:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.item-middle__text-bottom {
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1666666667;
  color: #E5E5E5;
}

.item-middle__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.0625rem;
}

.item-middle__btn {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.1666666667;
  width: 31.25rem;
  min-height: 3.75rem;
  padding: 0.3125rem 0;
  border: 1px solid #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.item-middle__btn_image {
  position: relative;
}

.no-webp .item-middle__btn_image::after{
  background-image: url("../img/special/1.png"); }

.item-middle__btn_image::after {
  content: "";
  position: absolute;
  top: -131px;
  right: 0;
  width: 12rem;
  height: 9.375rem;
}

@supports (padding-top: clamp( 4.0625rem , 1.0922029703rem  +  14.8514851485vw , 12.5rem )) {
  .bottom-special {
    padding-top: clamp( 4.0625rem , 1.0922029703rem  +  14.8514851485vw , 12.5rem );
  }
}

@supports not (padding-top: clamp( 4.0625rem , 1.0922029703rem  +  14.8514851485vw , 12.5rem )) {
  .bottom-special {
    padding-top: calc(4.0625rem + 8.4375 * (100vw - 20rem) / 56.8125);
  }
}

.bottom-special__slider {
  text-align: center;
  border: 1px solid #FFFFFF;
  position: relative;
}

@supports (padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .bottom-special__slider {
    padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .bottom-special__slider {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.8125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .bottom-special__slider {
    padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .bottom-special__slider {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.8125);
  }
}

.bottom-special__slider:not(:last-child) {
  margin-bottom: 3.125rem;
}

.bottom-special__image img {
  max-width: 100%;
}

.bottom-special__button-prev {
  position: absolute;
  left: 70px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.bottom-special__button-next {
  position: absolute;
  right: 70px;
  bottom: 50%;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.bottom-special__text {
  text-align: center;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.25;
  font-family: spaceagecyrillic;
}

.form {
  background-color: #000;
}

@supports (padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .form {
    padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .form {
    padding-top: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.8125);
  }
}

@supports (padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .form {
    padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.1798679868rem  +  6.600660066vw , 6.25rem )) {
  .form {
    padding-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.8125);
  }
}

.form__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 0.9375rem;
     -moz-column-gap: 0.9375rem;
          column-gap: 0.9375rem;
}

@supports (margin-bottom: clamp( 1.25rem , 0.6779427943rem  +  2.8602860286vw , 2.875rem )) {
  .item-form__title:not(:last-child) {
    margin-bottom: clamp( 1.25rem , 0.6779427943rem  +  2.8602860286vw , 2.875rem );
  }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.6779427943rem  +  2.8602860286vw , 2.875rem )) {
  .item-form__title:not(:last-child) {
    margin-bottom: calc(1.25rem + 1.625 * (100vw - 20rem) / 56.8125);
  }
}

.item-form__text {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2083333333;
}

.item-form__text:first-child {
  max-width: 28.125rem;
}

.item-form__text:nth-child(2) {
  max-width: 37.5rem;
}

.item-form__form {
  max-width: 31.25rem;
}

.item-form__form:not(:last-child) {
  margin-top: 8.8125rem;
}

.item-form__image {
  text-align: right;
}

.item-form__image img {
  max-width: 100%;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 54em) {
  .how__line svg {
    display: none;
  }

  .how__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0.9375rem;
    text-align: left;
    position: relative;
    padding-left: 0.9375rem;
  }

  .how__list::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: #fff;
    top: 0;
    left: 0;
  }
}

@media (max-width: 25em) {
  .time {
    opacity: 0.9;
  }

  .time__title {
    font-size: 1.5625rem;
  }

  .time__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .time__text {
    max-width: 100%;
    text-align: center;
  }

  .time__text:not(:last-child) {
    margin-bottom: 0.625rem;
  }
}

@media (max-width: 77.5em) {
  .middle-header {
    margin: 0 auto;
  }
}

@media (max-width: 68.125em) {
  .middle-special__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .item-middle__text-bottom {
    margin-bottom: 12.5rem;
  }
}

@media (max-width: 67.125em) {
  .item-about_reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .item-about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 61.75em) {
  .time__info {
    margin-top: 1.5625rem;
  }
}

@media (max-width: 57.1875em) {
  .form__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 55.625em) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 12.5rem;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu__body::after {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 10.75rem;
    background-color: #000;
    z-index: 4;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::after {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
  }

  .menu__link {
    font-size: 1.875rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 48.625em) {
  .top-special__inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .item-top__btn:last-child {
    margin-bottom: 1.875rem;
  }
}

@media (max-width: 46.875em) {
  .header {
    background-position: right;
  }
}

@media (max-width: 44.875em) {
  .bottom-special__button-prev {
    display: none;
  }

  .bottom-special__button-next {
    display: none;
  }
}

@media (max-width: 43.0625em) {
  .item-about__info {
    display: block;
  }

  .table-item {
    display: none;
  }
}

@media (max-width: 38.5625em) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__info {
    row-gap: 1.25rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .footer__info:not(:last-child) {
    margin-right: 0;
  }

  .footer__text {
    max-width: 100%;
  }

  .footer__spoller {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__spoller:not(:last-child) {
    margin-left: 0;
    margin-right: 0;
  }

  .footer__list {
    text-align: center;
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 33.3125em) {
  .middle-header__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 33.125em) {
  .item-about__image img {
    max-width: 100%;
  }
}

@media (max-width: 32.75em) {
  .middle-special__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-middle__text-bottom {
    margin-bottom: 1.875rem;
  }

  .item-middle__buttons {
    row-gap: 1.25rem;
  }

  .item-middle__btn {
    width: 100%;
  }

  .item-middle__btn_image::after {
    display: none;
  }
}

@media (max-width: 31.25em) {
  .bottom-special__slider {
    margin: 0 -0.9375rem;
  }
}

@media (max-width: 29.99875em) {
  .bottom-header__info {
    display: block;
  }

  .bottom-header__text:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 26.25em) {
  .middle-special__title {
    font-size: 1.5rem;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    color: #CB0E0E;
  }

  .footer__item:hover {
    color: #CB0E0E;
  }

  .how__line g:hover circle {
    r: 1.25rem;
    fill: #036CCA;
  }

  .how__line g:hover text {
    font-size: 2.25rem;
    fill: #036CCA;
  }

  .how__line g:hover foreignObject {
    font-size: 1.375rem;
    color: #036CCA;
  }
}

.webp .header{ background-image: url(../img/header/backround.webp); }

.webp .footer{ background-image: url(../img/footer/1.webp); }

.webp .about{ background-image: url(../img/about/backgroung.webp); }

.webp .how{ background-image: url(../img/How/background.webp); }

.webp .time{ background-image: url(../img/time/background.webp); }

.webp .special{ background-image: url(../img/special/background.webp); }

.webp .item-middle__btn_image::after{ background-image: url(../img/special/1.webp); }